


<!DOCTYPE html>
<html lang="en-us" >
<meta charset="utf-8">
<head>
<title>校园助手改密码界面</title>
<link rel="stylesheet" type="text/css" href="/static/myapp/css/base.css" />           <!-- 此处采用的是django内部布局   -->
<link rel="stylesheet" type="text/css" href="/static/myapp/css/login.css" />
<meta name="robots" content="NONE,NOARCHIVE" />

<div id="container">
<!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/myapp/change_password/">更改密码</a></h1> 

        </div>
		 <div id="user-tools">
         Welcome to 
                <strong>校园助手改密码界面</strong>.
  <a href="/myapp/index">&nbsp返回游览</a>
   <a href="/myapp/logout/">退出登录</a>
   <a href="/myapp/upload/">上传</a>
   <a href="/myapp/change_password/">更改密码</a>
   <a href="/myapp/delete"> 删除物品 </a>
    
        </div>
    </div>
    <!-- END Header -->
	
    <!-- Content -->
    <div id="content" class="colM">
        

<div id="content-main">
<form method = "post" action ="" >

          {% csrf_token %}
           {{uform.as_p}}
           {{errors}}
		    </br>
      <div class="submit-row">
          <label>&nbsp;</label><input type="submit" value="更改" />
      </div>



</div>       
        <br class="clear" />
    </div>
</form>

</body>
</html>
